.cproject
.project
.settings/
*.o
*.cmd
*.order
*.ko
*.mod.c
*.builtin
.missing-syscalls.d
.tmp_System.map
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/x86/boot/compressed/vmlinux.bin
arch/x86/boot/compressed/vmlinux.bin.gz
arch/x86/boot/vmlinux.bin
arch/x86/kernel/asm-offsets.s
arch/x86/lib/lib.a
arch/x86/realmode/rm/realmode.bin
arch/x86/realmode/rm/realmode.elf
arch/x86/vdso/vdso32-int80.so
arch/x86/vdso/vdso32-int80.so.dbg
arch/x86/vdso/vdso32-sysenter.so
arch/x86/vdso/vdso32-sysenter.so.dbg
kernel/bounds.s
lib/lib.a
scripts/mod/devicetable-offsets.s
usr/.initramfs_data.cpio.d
vmlinux
Debug
